<div class="row"
     infinite-scroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()">
    <div class="col-md-3">
        <app-menu (categoryUpdated)="handleCategoryChange($event)"
                  (settingsUpdated)="handleSettingsChange($event)"
                  (bookmarkUsed)="handleBookmarkUsed($event)"
                  [query]="query">

        </app-menu>
    </div>

    <div class="col-md-9" >
        <div *ngIf="words&&words.length">
            <div *ngFor="let word of words">
                <app-word [data]="word" [settings]="settings"></app-word>
            </div>
        </div>
    </div>
</div>

