<div class="settings-menu">
  <div *ngIf="settings">

    <div class="local-settings " >
      <label class="settings-label">
        <input class="hidden" type="checkbox" [(ngModel)]="settings.translation" value="true" name="translation"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.translation}">g_translate</i>
      </label>
    </div>

    <div class=" local-settings">
      <label class="settings-label">
        <input  class="hidden" type="checkbox" [(ngModel)]="settings.sentences" value="true" name="sentences"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.sentences}" >description</i>
      </label>
    </div>

    <div class=" local-settings">
      <label class="settings-label">
        <input class="hidden" type="checkbox" [(ngModel)]="settings.sentencesWithTranslation" value="true"
               name="sentencesWithTranslation"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.sentencesWithTranslation}" >g_translate</i>
      </label>
    </div>

    <div class=" local-settings">
      <label class="settings-label">
        <input  class="hidden" type="checkbox" [(ngModel)]="settings.synonyms" value="true"
               name="synonyms"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.synonyms}">done_all</i>
      </label>
    </div>

    <div class="local-settings" >
      <label class="settings-label">
        <input  class="hidden" type="checkbox" [(ngModel)]="settings.synonymsOnEnglish" value="true"
               name="synonymsOnEnglish"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.synonymsOnEnglish}">g_translate</i>
      </label>
    </div>

    <div class=" local-settings">
      <label class="settings-label">
        <input class="hidden" type="checkbox" [(ngModel)]="settings.imagesPreview" value="true" name="imagesPreview"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.imagesPreview}">image</i>
      </label>
    </div>

    <div class="local-settings ">
      <label class="settings-label">
        <input class="hidden" type="checkbox" [(ngModel)]="settings.images" value="true" name="images"
               (change)="settingsChange($event)" autocomplete="off">
        <i class="material-icons icon-position local-settings" [ngClass]="{active:settings?.images}">burst_mode</i>
      </label>
    </div>

  </div>
</div>