.settings-item {
    width: 250px;
    text-align: left !important;
}

.settings-menu {
    width: 100%;
}

.btn-settings {
    z-index: 9;
    position: fixed;
    right: -20px;
    top: 40px;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    width: 90px;
    transform: rotate(-90deg);
    border: none;
    color: #fff;
}

.settings {
    z-index: 10;
    display: block;
    position: fixed;
    height: 100vH;
    right: -320px;
    text-align: center;
    background: #fff;
    top: 0;
    transition: all 400ms ease;
    box-shadow: 0 0 0 0 #000;
    overflow-y: auto;
    width: 320px;
}

.settings .wrap {
    padding: 10px 30px;
}

.settings.show {
    right: 0;
    box-shadow: 0 0 100px -30px #000;
}

.image-background {
    margin: 5px 5px 5px 0px;
    width: auto;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.galery-image-box {
    padding: 10px;
    display: inline-block;
}

.galery-image {
    width: 150px;
    /*width: 160px;*/
    display: inline-block;
}

.image {
    height: 60px;
    width: auto
}

.image-preview {
    display: inline-block;
    margin-right: 10px;
}

.circle-custom {
    height: 70px !important;
    width: 70px !important;
    display: inline-block !important;
    border-radius: 100%;
}

.text-header {
    display: inline;
}

.menu-item {
    width: 200px;
    text-align: left;
    font-size: 16px;
    margin-left: 60px;
    margin-bottom: 10px;
    cursor: pointer;
}

.icon-position {
    vertical-align: top;
    line-height: 1.1em;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.avatar-picture {
    vertical-align: top
}

.example-item {
    display: inline-block
}

html body {
    background-color: white;
}

.local-settings {
    display: inline-block;
}

.sentences {
    margin: 3px 5px 3px 0;
}

.pair-sentences {
    margin: 5px 0 10px 0;
}

.hidden {
    display: none !important;
}

.active {
    color: #777 !important;
}

.setting-link {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400;
}

a:hover {
    color: #777 !important;
}

label:hover {
    color: #777 !important;
}

