.image-background {
    width: auto;
    height: 200px;
    background-repeat: no-repeat;
}

.image {
    height: 50px;
    width: auto
}

.image-list {
    display: inline-block;
    margin-right: 5px;
}