<div *ngIf="word">
    <h4>Word</h4>
    <div>{{word.getText()}}</div>
    <h4 *ngIf="settings.translation">Translation</h4>
    <div *ngIf="settings.translation">{{word.getTranslation()}}</div>

    <h4 *ngIf="settings.imagesPreview">Images preview</h4>
    <div *ngIf="settings.imagesPreview">
        <div *ngFor="let image of word.getImagesPreview()" style="display: inline-block; margin-right: 5px;">
            <img src="{{image}}" style="height: 50px;width: auto ">
        </div>
    </div>

    <h4 *ngIf="settings.images">Gallery</h4>
    <div *ngIf="settings.images">
        <div *ngFor="let image of word.getImages()" style="display: inline-block; margin-right: 5px;">
            <img src="{{image}}" style="height: 50px;width: auto ">
        </div>
    </div>

    <h4 *ngIf="settings.sentences">Examples</h4>
    <div *ngIf="settings.sentences">
        <div *ngFor="let sentence of word.getSentences()">{{word.getSentenceInEnglish(sentence)}}
            <div *ngIf="settings.sentencesWithTranslation">{{word.getSentenceTranslation(sentence)}}
            </div>
        </div>
    </div>

    <h4 *ngIf="settings.synonyms">Synonyms</h4>
    <div *ngIf="settings.synonyms">
        <div *ngFor="let synonym of word.getTranslations()">{{word.getSynonyms(synonym)}}
            <div *ngIf="settings.synonymsOnEnglish">{{word.getSynonymsOnEnglish(synonym)}}
            </div>
        </div>
    </div>

</div>
__________________________